.post{
    max-width: 600px;
    background-color:white;
    border:1px solid lightgray;
    margin-bottom: 50px;
}
.post__image{
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
}

.post__heading{
    display: flex;
    align-items: center;
    padding:20px;
}
.post__avatar{
    margin-right: 10px;
}

.post__text{
    padding:20px;
}
.post__commentBox{
    display: flex;
    margin-top: 10px;
}

.post__comment{
    flex:1;
    border: none;
    padding:10px;
    border-top: 1px solid lightgray;
}
.Comment__button
{
    flex:0;
    /* width:30px; */
    color:#6082a3;
    border:none;
    background-color: transparent;
    border-top:1px solid lightgray;

}
.post__comments{
    padding: 20px;
}
.all__comments{
    margin-bottom: 7px;
}